use_gpu: True
show_progress: False
train_neg_sample_args: ~
epochs: 100

USER_ID_FIELD: user_id
ITEM_ID_FIELD: item_id
TIME_FIELD: timestamp
SESSION_ID_FIELD: session_id
load_col:
    inter: [user_id, session_id, item_id, timestamp]

eval_args:
    group_by: user
    order: TO
    split: {RS: [0.8, 0.1, 0.1]}
    mode: full

eval_batch_size: 256

min_user_inter_num: 3

early_stop: True

# 1 recurrent gru layer
n_layers: 1